.ui-dropdown {
  position: relative;
  .ui-dropdown__options {
    width: 100%;
    background: white;
    border-radius: 6px;
    border: 1px solid #e1e7ec;
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    z-index: 99;
    top: 100%;
    &.dark_mode {
      background: var(--dark-input-background-color);
      border-color: var(--dark-input-background-color);
    }
    .ui-dropdown__option {
      padding: 16px 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      .ui-dropdown__icon {
        margin-right: 8px;
      }
      &.dark_mode {
        color: #94a3b8;
      }
      &.active,
      &:hover {
        background: #f2fafc;
        color: #0db9e9;
        position: relative;
        &.dark_mode {
          background: #041d25;
          color: #0db9e9;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0.5px;
          width: 2px;
          height: 100%;
          border-radius: 0 2px 2px 0;
          background: #0db9e9;
          &.dark_mode {
            background: (var--dark-primary-action-color);
          }
        }
      }
    }
  }
}
