.ui-card-input-field__wrapper {
  display: flex;
  flex-direction: column;
  &.size__massive {
    height: 64px;
    .ui-card-input-field__pseudo-input {
      height: 64px;
    }
  }
  &.size__huge {
    height: 56px;
    .ui-card-input-field__pseudo-input {
      height: 56px;
    }
  }
  &.size__xlarge {
    height: 48px;
    .ui-card-input-field__pseudo-input {
      height: 48px;
    }
  }
  &.size__large {
    height: 40px;
    .ui-card-input-field__pseudo-input {
      height: 40px;
    }
  }
  &.size__medium {
    height: 32px;
    .ui-card-input-field__pseudo-input {
      height: 32px;
    }
  }
  &.size__small {
    height: 24px;
    .ui-card-input-field__pseudo-input {
      height: 24px;
      padding: 8px 16px;
      input {
        height: 20px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
.ui-card-input-field__pseudo-input {
  background: #fff;
  box-shadow: 0 1px 2px rgba(63, 63, 68, 0.1);
  border: 1px solid #ced6de;
  border-radius: 4px;
  font-family: "Circular Std", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  color: #212934;
  display: flex;
  align-items: center;
  &.dark_mode {
    background: var(--dark-input-background-color);
    border-color: var(--dark-input-border-color);
  }
  & * {
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
  }
  &.hasError,
  &.hasError input {
    background: #fff0f2;
    border-color: #d62f4b;
  }
  &.focus:not(.hasError) {
    border-color: var(--light-primary-action-color);
    box-shadow: 0 0 0 3px var(--light-primary-action-box-shadow-color);
  }
  &:hover:not(.hasError) {
    border-color: var(--light-primary-action-color);
  }
}
.ui-card-input-field__inputs {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.ui-card-input__pushed-right {
  display: flex;
  align-items: center;
}
.ui-card-input-field__pseudo-input input {
  border: none;
  &::placeholder {
    color: #b8c4ce;
  }
  &:focus {
    border: none;
    outline: none;
  }
  &.dark_mode {
    background: transparent;
    color: #fff;
    &::placeholder {
      color: var(--dark-input-label-color);
    }
  }
}
.ui-card-input-field__cvv,
.ui-card-input-field__exp {
  width: 70px;
  background: transparent;
}
.ui-card-input-field__cvv {
  @media only screen and (max-width: 375px) {
    width: 40px;
  }
}
.ui-card-input-field__card-no {
  margin-right: 8px;
  @media only screen and (max-width: 500px) {
    width: 142px;
  }
  @media only screen and (max-width: 450px) {
    width: 122px;
  }
  @media only screen and (max-width: 400px) {
    width: 92px;
  }
  @media only screen and (min-width: 500px) {
    flex: 1;
  }
}
.ui-card-input-field__left-icon {
  margin-right: 8px;
  height: 24px;
  color: var(--light-primary-action-color);
  &.dark_mode {
    color: var(--dark-primary-action-color);
  }
}
.ui-card-input-field__right-icon {
  @media only screen and (max-width: 500px) {
    height: 24px;
  }
  @media only screen and (max-width: 375px) {
    height: 20px;
  }
  @media only screen and (max-width: 350px) {
    display: none;
  }
}
