.ui-pagination {
  display: flex;
  align-items: center;
  &.smartColor {
    .ui-pagination__page-number__active {
      background: var(--smart-color);
    }
    .ui-pagination__left-arrow,
    .ui-pagination__right-arrow {
      color: var(--smart-color);
    }
    .ui-pagination__control {
      .ui-pagination__text {
        color: var(--smart-color);
      }
      &.disabled {
        cursor: not-allowed;

        .ui-pagination__left-arrow,
        .ui-pagination__right-arrow,
        .ui-pagination__text {
          color: #8895a7;
        }
      }
    }
  }
}

.ui-pagination__text-previous {
  margin-right: 8px;
}

.ui-pagination__page-number__active {
  background: var(--light-primary-color);
  border-radius: 4px;
  height: 32px;
  width: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-pagination__page-number {
  margin-right: 12px;
  cursor: pointer;
}

.ui-pagination__page-number_last {
  margin-left: 12px;
  margin-right: 8px;
}

.ui-pagination__left-arrow,
.ui-pagination__right-arrow {
  color: var(--light-primary-color);
}

.ui-pagination__control {
  display: flex;
  align-items: center;
  cursor: pointer;

  .ui-pagination__text {
    color: var(--light-primary-color);
  }

  &.disabled {
    cursor: not-allowed;

    .ui-pagination__left-arrow,
    .ui-pagination__right-arrow,
    .ui-pagination__text {
      color: #8895a7;
    }
  }

  .ui-text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
