.ui-text {
    font-family: 'Circular Std', sans-serif;
}

.ui-text.body {
    font-size: 16px;
    line-height: 24px;
}

.ui-text.p-18 {
    font-size: 18px;
    line-height: 30px;
}

.ui-text.overline {
    font-size: 10px;
    line-height: 12px;
}

.ui-text.footnote {
    font-size: 12px;
    line-height: 16px;
}

.ui-text.footnote-caps {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}