.ui-button {
  font-family: "Hero New", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #e1e7ec;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.05);
  background: #f5f8fa;
  color: #212934;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ui-button.pill {
  border-radius: 900px;
}
.ui-button.dark_mode.semantic__default:not(.smartColor) {
  background: #121a26;
  border: 1px solid #202b3c;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.05);
  color: #cbd5e1;
}
.ui-button:not(.semantic__outline):not(.semantic__invisible).smartColor {
  background: var(--smart-color);
  color: var(--smart-text-color);
  border-color: var(--smart-color);
}
.ui-button:not(.semantic__outline):not(.semantic__invisible).smartColor:disabled,
.ui-button:not(.semantic__outline):not(.semantic__invisible).smartColor.state__disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.ui-button:not(.semantic__outline):not(.semantic__invisible).smartColor:hover {
  background: var(--smart-calculated-hover-color);
  color: var(--smart-calculated-hover-text-color);
}
.ui-button:not(.semantic__outline):not(.semantic__invisible).smartColor.smartHoverColor:hover {
  background: var(--smart-hover-color);
  color: var(--smart-hover-text-color);
  border-color: var(--smart-hover-color);
}
.ui-button.responsive {
  display: flex;
  width: 100%;
}
.ui-button .ui-button__button-text {
  white-space: nowrap;
}
.ui-button .ui-button__button-text.loader-text::after {
  display: inline-block;
  content: "";
  animation: dots steps(1, end) 1.5s infinite;
}
@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
.ui-button .ui-svg {
  width: 24px;
  height: 24px;
}
.ui-button .ui-button__left-icon {
  margin-right: 8px;
}
.ui-button .ui-button__right-icon {
  margin-left: 8px;
}
.ui-button:hover {
  background: #e1e7ec;
}
.ui-button:focus {
  box-shadow: 0 0 0 3px rgba(27, 92, 224, 0.2);
}
.ui-button:not(.smartColor):disabled,
.ui-button:not(.smartColor).state__disabled {
  background: #f5f8fa;
  color: #ced6de;
  cursor: not-allowed;
  border-color: transparent;
}
.ui-button.semantic__primary:not(.smartColor) {
  background: var(--light-primary-action-color);
  color: var(--light-text-color);
  border: 1px solid var(--light-primary-action-box-shadow-color);
}
.ui-button.semantic__primary:not(.smartColor).dark_mode {
  background: var(--dark-primary-action-color);
  color: var(--dark-text-color);
  border: 1px solid var(--dark-primary-action-box-shadow-color);
}
.ui-button.semantic__primary:not(.smartColor).dark_mode:hover {
  background: var(--dark-primary-action-hover-color);
  color: var(--dark-primary-action-text-hover-color);
}
.ui-button.semantic__primary:not(.smartColor).dark_mode:focus {
  box-shadow: 0 0 0 3px var(--dark-primary-action-box-shadow-color);
}
.ui-button.semantic__primary:not(.smartColor).dark_mode:disabled,
.ui-button.semantic__primary:not(.smartColor).dark_mode.state__disabled {
  background: var(--dark-primary-action-disabled-color);
  color: var(--dark-subtle-text-color);
}
.ui-button.semantic__primary:not(.smartColor):hover {
  background: var(--light-primary-action-hover-color);
  color: var(--light-primary-action-text-hover-color);
}
.ui-button.semantic__primary:not(.smartColor):focus {
  box-shadow: 0 0 0 3px var(--light-primary-action-box-shadow-color);
}
.ui-button.semantic__primary:not(.smartColor):disabled,
.ui-button.semantic__primary:not(.smartColor).state__disabled {
  background: var(--light-primary-action-disabled-color);
  color: var(--light-subtle-text-color);
  cursor: not-allowed;
  border-color: transparent;
}
.ui-button.semantic__danger:not(.smartColor) {
  background: var(--light-danger-color);
  border: 1px solid rgba(33, 41, 52, 0.07);
  color: #fff;
}
.ui-button.semantic__danger:not(.smartColor).dark_mode {
  background: var(--dark-danger-color);
  color: #121a26;
  border: 1px solid rgba(33, 41, 52, 0.07);
  /* Button Shadow */
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.05);
}
.ui-button.semantic__danger:not(.smartColor).dark_mode:hover {
  background: var(--dark-danger-400);
  border: 1px solid rgba(33, 41, 52, 0.07);
  /* Button Shadow */
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.05);
}
.ui-button.semantic__danger:not(.smartColor).dark_mode:focus {
  box-shadow: 0 0 0 3px var(--dark-danger-box-shadow-color);
}
.ui-button.semantic__danger:not(.smartColor).dark_mode:disabled,
.ui-button.semantic__danger:not(.smartColor).dark_mode.state__disabled {
  background: #350a12;
}
.ui-button.semantic__danger:not(.smartColor):hover {
  background: var(--light-danger-600);
}
.ui-button.semantic__danger:not(.smartColor):focus {
  box-shadow: 0 0 0 3px var(--light-danger-box-shadow-color);
}
.ui-button.semantic__danger:not(.smartColor):disabled,
.ui-button.semantic__danger:not(.smartColor).state__disabled {
  background: var(--light-danger-100);
  color: #fff;
  cursor: not-allowed;
  border-color: transparent;
}
.ui-button.semantic__success:not(.smartColor) {
  background: var(--light-success-color);
  border: 1px solid rgba(33, 41, 52, 0.07);
  color: #fff;
}
.ui-button.semantic__success:not(.smartColor).dark_mode {
  background: var(--dark-success-color);
  color: #121a26;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.05);
}
.ui-button.semantic__success:not(.smartColor).dark_mode:hover {
  background: var(--dark-success-600);
  border: 1px solid rgba(33, 41, 52, 0.07);
  /* Button Shadow */
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.05);
}
.ui-button.semantic__success:not(.smartColor).dark_mode:focus {
  box-shadow: 0px 0px 0px 3px var(--dark-success-box-shadow-color);
}
.ui-button.semantic__success:not(.smartColor).dark_mode:disabled,
.ui-button.semantic__success:not(.smartColor).dark_mode.state__disabled {
  background: var(--dark-success-800);
}
.ui-button.semantic__success:not(.smartColor):hover {
  background: var(--light-success-600);
}
.ui-button.semantic__success:not(.smartColor):focus {
  box-shadow: 0 0 0 3px var(--light-success-box-shadow-color);
}
.ui-button.semantic__success:not(.smartColor):disabled,
.ui-button.semantic__success:not(.smartColor).state__disabled {
  background: var(--light-success-100);
  color: #fff;
  cursor: not-allowed;
  border-color: transparent;
}
.ui-button:disabled:focus,
.ui-button.state__disabled:focus {
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.05);
}
.ui-button.semantic__outline {
  color: var(--light-primary-action-color);
  border: 1px solid var(--light-primary-action-color);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: transparent;
}
.ui-button.semantic__outline.smartColor {
  border-color: var(--smart-color);
  color: var(--smart-color);
}
.ui-button.semantic__outline.dark_mode {
  border-color: var(--dark-primary-action-color);
  color: var(--dark-primary-action-color);
}
.ui-button.semantic__outline:focus {
  box-shadow: 0 0 0 3px var(--light-primary-action-box-shadow-color);
}
.ui-button.semantic__outline:focus.smartColor {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
}
.ui-button.semantic__outline:focus.dark_mode {
  box-shadow: 0 0 0 3px var(--dark-primary-action-box-shadow-color);
}
.ui-button.semantic__outline:hover:not(:disabled):not(.state_disabled) {
  background: var(--light-primary-action-color);
  color: var(--light-primary-action-text-color);
  box-shadow: 0 1px 0 var(--light-outline-action-box-shadow-color);
}
.ui-button.semantic__outline:hover:not(:disabled):not(.state_disabled).smartColor {
  background: var(--smart-calculated-hover-color);
  color: var(--smart-calculated-hover-text-color);
  box-shadow: 0 1px 0 rgba(0, 0, 0);
  border-color: var(--smart-calculated-hover-color);
}
.ui-button.semantic__outline:hover:not(:disabled):not(.state_disabled).smartHoverColor {
  background: var(--smart-hover-color);
  color: var(--smart-hover-text-color);
  border-color: var(--smart-hover-color-);
}
.ui-button.semantic__outline:hover:not(:disabled):not(.state_disabled).dark_mode {
  background: var(--dark-primary-action-color);
  color: var(--dark-primary-action-text-color);
  box-shadow: 0 1px 0 var(--dark-outline-action-box-shadow-color);
}
.ui-button.semantic__outline:focus:hover {
  box-shadow: 0 0 0 3px var(--light-outline-action-box-shadow-color);
}
.ui-button.semantic__outline:focus:hover.smartColor {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
}
.ui-button.semantic__outline:focus:hover.dark_mode {
  box-shadow: 0 0 0 3px var(--dark-outline-action-box-shadow-color);
}
.ui-button.semantic__outline:disabled,
.ui-button.semantic__outline.state__disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: transparent;
}
.ui-button.semantic__outline:disabled:focus,
.ui-button.semantic__outline.state__disabled:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.ui-button.semantic__invisible {
  color: var(--light-primary-action-color);
  border-color: transparent;
  background: transparent;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.ui-button.semantic__invisible.smartColor {
  color: var(--smart-color);
}
.ui-button.semantic__invisible.dark_mode {
  color: var(--dark-primary-action-color);
}
.ui-button.semantic__invisible:focus {
  box-shadow: 0 0 0 3px rgba(27, 92, 224, 0.2);
}
.ui-button.semantic__invisible:hover {
  color: var(--light-primary-700);
}
.ui-button.semantic__invisible:hover.smartColor {
  color: var(--smart-calculated-hover-color);
}
.ui-button.semantic__invisible:hover.smartHoverColor {
  color: var(--smart-hover-color);
}
.ui-button.semantic__invisible:disabled,
.ui-button.semantic__invisible.state__disabled {
  color: var(--light-primary-200);
  cursor: not-allowed;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.ui-button.size__small {
  padding: 4px 12px;
  font-size: 12px;
  height: 24px;
}
.ui-button.size__small .ui-button__left-icon {
  height: 20px;
  width: 20px;
}
.ui-button.size__medium {
  padding: 8px 16px;
  height: 32px;
}
.ui-button.size__medium .ui-button__left-icon {
  height: 20px;
  width: 20px;
}
.ui-button.size__large {
  padding: 12px 24px;
  height: 40px;
}
.ui-button.size__xlarge {
  padding: 16px 24px;
  height: 48px;
}
.ui-button.size__huge {
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
}
.ui-button.size__massive {
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  height: 64px;
}
.ui-button.size__massive .ui-svg {
  height: 28px;
  width: 28px;
}
