@import "../../scss/textfield";

.ui-text-field__phone-input .ui-text-field__country-code {
  position: absolute;
  border: 1px solid transparent;
  left: 18px;
  border-right: 1px solid #e1e7ec;
  border-radius: 1px;
  padding: 0 4px 0 0;
  display: inline-block;
  max-width: calc(4ch + 4px);
  min-width: calc(2ch + 4px);
  width: calc(2ch + 4px);
  font-size: 16px;
  line-height: 16px;
  outline: none;
  font-family: "Circular Std", sans-serif;
  color: #212934;
  &.dark_mode {
    background: var(--dark-input-background-color);
    color: #fff;
  }

  &::placeholder {
    color: #b8c4ce;
  }
}
.ui-text-field__wrapper {
  &.size__small .ui-text-field__phone-input .ui-text-field__input {
    padding-left: calc(2ch + 16px);
  }
  &.size__medium .ui-text-field__phone-input .ui-text-field__input,
  &.size__large .ui-text-field__phone-input .ui-text-field__input {
    padding-left: calc(2ch + 26px);
  }
  &.size__xlarge .ui-text-field__phone-input .ui-text-field__input {
    padding-left: calc(2ch + 20px);
  }
  &.size__huge .ui-text-field__phone-input .ui-text-field__input,
  &.size__massive .ui-text-field__phone-input .ui-text-field__input {
    padding-left: calc(2ch + 26px);
  }
  &.size__small .ui-text-field__phone-input .ui-text-field__country-code {
    font-size: 12px;
    line-height: 12px;
    left: 8px;
  }
  &.size__xlarge .ui-text-field__phone-input .ui-text-field__country-code,
  &.size__large .ui-text-field__left-icon,
  &.size__medium .ui-text-field__left-icon {
    left: 12px;
  }
}
//.ui-text-field__input:disabled + .ui-text-field__country-code,
//.ui-text-field[disabled] + .ui-text-field__country-code {
//  background: #edeeef;
//  cursor: not-allowed;
//  &.dark_mode {
//    background: var(--dark-input-disabled-color);
//    color: var(--dark-input-label-color);
//  }
//}
//.ui-text-field__input.has-error + .ui-text-field__country-code {
//  background: #fff0f2;
//  &.dark_mode {
//    background: #350a12;
//  }
//}
.ui-text-field__wrapper {
  &.has-error .ui-text-field__country-code {
    background: #fff0f2;
    &.dark_mode {
      background: #350a12;
    }
  }
  //&.disabled .ui-text-field__country-code {
  //  background: #edeeef;
  //  cursor: not-allowed;
  //  &.dark_mode {
  //    background: var(--dark-input-disabled-color);
  //    color: var(--dark-input-label-color);
  //  }
  //}
}

.ui-text-field__country-code {
  background: transparent !important;
  &:disabled {
    cursor: not-allowed;
  }
}
