@import "../../scss/textfield";

.ui-text-field--counter_input_button {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #8895a7;
  border-radius: 6px;
  color: #8895a7;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  &.dark_mode {
    border-color: #64748b;
    color: #64748b;
  }
  &:hover,
  &.coloredButtons {
    border-color: var(--light-primary-action-color);
    color: var(--light-primary-action-color);
  }
  &.left {
    margin-right: var(--counter-spacing);
  }
  &.right {
    margin-left: var(--counter-spacing);
  }
}
