.ui-badge {
  display: inline-block;
  border-radius: 900000000px;
  padding: 2px 8px;
  color: white;
}

.ui-badge__text {
  margin: 0;
}

.ui-badge.size__small {
  padding: 2px 8px;
}

.ui-badge.size__medium {
  padding: 4px 8px;
}

.ui-badge.size__large {
  padding: 4px 8px;
}

.ui-badge.color-scheme__neutral {
  background: #8895a7;
}

.ui-badge.color-scheme__green {
  background: #00b058;
}

.ui-badge.color-scheme__red {
  background: #d62f4b;
}

.ui-badge.color-scheme__yellow {
  background: #ff9505;
}

.ui-badge.color-scheme__cyan {
  background: #0c9ccc;
}

.ui-badge.color-scheme__blue {
  background: #0d7fe9;
}

.ui-badge.subtle.color-scheme__neutral {
  color: #212934;
  background: #e1e7ec;
}

.ui-badge.subtle.color-scheme__green {
  color: #158957;
  background: #c4efdf;
}

.ui-badge.subtle.color-scheme__red {
  color: #842432;
  background: #fcc5ce;
}

.ui-badge.subtle.color-scheme__yellow {
  color: #e08304;
  background: #fff0db;
}

.ui-badge.subtle.color-scheme__cyan {
  color: #0b87b0;
  background: #bdf3fc;
}

.ui-badge.subtle.color-scheme__blue {
  color: #0059ac;
  background: #ddefff;
}
