.ui-card {
    font-family: "Circular Std", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #5f6b7a;
    text-decoration: none;
    transition-property: border-color;
    transition-duration: 0.5s;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    &.dark_mode {
        background: transparent;
        border: 1px solid #384860;
    }
    &.hasHeader {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &.hasFooter {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    // --tw-space-x-reverse: 0;
    // margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    // margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
    // cursor: pointer;

    &.shouldHover:hover,
    &.selected {
        border: 1px solid #0db9e9;
        &.dark_mode {
            .ui-card__icon {
                &.dark_mode {
                    color: #0db9e9;
                }
            }
        }
    }
    &.border {
        border: 1px solid #e1e7ec;
    }
}

.ui-card__form-selector {
    margin-top: 4px;
}

.state__selected {
    border: 1px solid #0db9e9;
    color: #212934;
    transition-property: color;
    transition-duration: 0.5s;
}

.ui-card__content {
    width: 100%;
    padding: 0 8px;
}

.ui-card__title {
    font-weight: 700;
    font-family: "Hero New", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    width: 100%;
    &.dark_mode {
        color: #cbd5e1;
    }
}

.ui-card__card-text > span {
    font-family: "Circular Std", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #525964;
    &.dark_mode {
        color: #94a3b8;
    }
}

.ui-card__icon {
    color: #ced6de;
    height: 20px;
    width: 20px;
    &.dark_mode {
        color: #4f627d;
    }
}