.ui-tab {
  text-decoration: none;
  color: #5f6b7a;
  padding: 8px 16px;
  border-radius: 4px;
}
.ui-tab:hover {
  color: #0d7fe9;
  background: #f5f8fa;
}
.ui-tab:active {
  color: #fff;
  background: #0d7fe9;
}

.ui-tabs {
  display: flex;
  flex-direction: column;
}
.ui-tabs.horizontal {
  flex-direction: row;
}