.ui-heading {
  font-weight: bold;
  font-family: "Hero New", sans-serif;
}
.ui-heading.h1 {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -0.32px;
}
.ui-heading.h1.equal-line-height {
  line-height: 64px;
}
.ui-heading.h2 {
  font-size: 48px;
  line-height: 50px;
}
.ui-heading.h2.equal-line-height {
  line-height: 48px;
}
.ui-heading.h3 {
  font-size: 36px;
  line-height: 40px;
}
.ui-heading.h3.equal-line-height {
  line-height: 36px;
}
.ui-heading.h4 {
  font-size: 28px;
  line-height: 32px;
}
.ui-heading.h4.equal-line-height {
  line-height: 28px;
}
.ui-heading.h5 {
  font-size: 20px;
  line-height: 24px;
}
.ui-heading.h5.equal-line-height {
  line-height: 20px;
}
.ui-heading.h6 {
  font-size: 16px;
  line-height: 24px;
}
.ui-heading.h6.equal-line-height {
  line-height: 16px;
}
.ui-heading.subtitle-1 {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.ui-heading.subtitle-1.equal-line-height {
  line-height: 16px;
}
.ui-heading.subtitle-2,
.ui-heading.subhead {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.ui-heading.subtitle-2.equal-line-height,
.ui-heading.subhead.equal-line-height {
  line-height: 14px;
}
