.ui-table__wrapper {
    
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    width: 100%;
    font-family: "Circular Std", sans-serif;
    margin: auto;
    border-radius: 4px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: #3F3E4D;
}


.ui-table__checkbox{
    padding-right: 16px;
}

.ui-table__header {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    font-family: 'Hero New', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;z 
    letter-spacing: 0.06em;
    text-align: left;
    background-color: #F5F8FA;  
    
}

.ui-table__header-item{

    display: flex;
    position:relative;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.ui-table__content {
    justify-content: center;
    font-family: 'Circular Std', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #3F3E4D;

}

.ui-table__content-item-container {
    border-bottom: 2px #F5F8FA solid; 
    display: flex;
    height: 48px;
    width:100%;
    padding: 0px 16px;
    
}   

.ui-table__content-item{
    display: flex;
    width: 100%;
    text-transform: capitalize;
    align-items: center;
    margin: 0 2px;
}

.ui-table__header-item-inner {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    margin: 0 2px;  
    cursor: pointer;
}

.sorting {
    position: absolute;
    align-items: center;
    width: max-content;
    color: #0DB9E9;
    border: 1px #0DB9E9 solid;
    border-radius: 5px;
    min-height: 20px;
    padding: 1px;
    padding-left: 5px;
}

.ui-button__dropdown-icon {
    width: 15px
}

.ui-table__header-sort_modal {
    font-family: Circular Std;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #fff;
    color: #3F3E4D;
    width: 100%;
    text-transform: capitalize;
    font-weight: 400;
    width: 208px;
    
    border-radius: 4px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ui-table__header-sort_modal-item{
    display:flex;
    padding: 0 10px;
    min-height: 40px;
    width: 100%;
    align-items: center;    
    /* border: 2px gray solid; */
}

.ui-table__header-sort_modal-item.filter {
    padding: 0;
}

.filter-bg {
    background-color: #F5F8FA;
    /* position:absolute; */
}

img{
    padding: 0 4px 0 0;
}
.ui-table__header-sort_modal-item:hover{
    background-color:  #F5F8FA;

}

.ui-table__header-filter_modal {
    z-index: 1;
    /* width:max-content; */
    /* float: right; */
   position: absolute;
    top: 20px;
    left: 215px;
    background-color: #fff;
    color: #3F3E4D;
    font-weight: 400;
    padding: 10px;

    border-radius: 4px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    /* --tw-space-y-reverse: 0;
  margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5rem * var(--tw-space-y-reverse)); */
}
.ui-table__header-filter_modal .ui-radio__wrapper{
    margin: 10px;
}


.ui-table__header-filter_modal-actions {
    display:flex;
    justify-content: space-between;
    padding: 10px 0;
}
.filter-cancel{
    color: red;
}
.filter-apply{
    color: blue;
}