.ui-checkbox__wrapper {
  display: flex;
  align-items: center;
}
.ui-checkbox__wrapper .ui-checkbox__label-wrap.ui-text.dark_mode {
  color: #cbd5e1;
}
.ui-checkbox__wrapper.alignToTop {
  align-items: flex-start;
}
.ui-checkbox__wrapper > * {
  margin: 0;
}
.ui-checkbox__wrapper > input {
  position: relative;
  height: 16px;
  width: 16px;
  background: white;
  border: 1px solid #ced6de;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.ui-checkbox__wrapper > input.hasLabel {
  margin-right: 8px;
}
.ui-checkbox__wrapper > input.dark_mode {
  background: #202b3c;
  border: 1px solid #384860;
}
.ui-checkbox__wrapper > input.disabled,
.ui-checkbox__wrapper > input:disabled {
  cursor: not-allowed;
}
.ui-checkbox__wrapper > input:checked {
  background-color: var(--light-primary-action-color);
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4L4 6.5L9 1.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.ui-checkbox__wrapper.dashed > input:checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 6H9.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.ui-checkbox__wrapper > input:checked:hover {
  background-color: var(--light-primary-action-color);
}
.ui-checkbox__wrapper > input:checked:disabled {
  background-color: var(--light-primary-action-disabled-color);
  cursor: not-allowed;
}
