.ui-card-input-field__wrapper {
    display: flex;
    flex-direction: column;

}

.ui-card-input-field__pseudo-input {
    background: #fff;
    box-shadow: 0 1px 2px rgba(63, 63, 68, 0.1);
    border: 1px solid #CED6DE;
    border-radius: 4px;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    color: #212934;
    width: 100%;
    display: flex;
}

.ui-card-input-field__pseudo-input.focus {
    border-color: #0DB9E9;
    box-shadow: 0 0 0 3px rgba(67, 210, 250, 0.25);
}

.ui-card-input-field__inputs {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.ui-card-input__pushed-right {
    display: flex;
}

.ui-card-input-field__pseudo-input input {
    border: none;
}

.ui-card-input-field__pseudo-input input::placeholder {
    color: #B8C4CE;
}

.ui-card-input-field__pseudo-input input:focus {
    border: none;
    outline: none;
}

.ui-card-input-field__cvv, .ui-card-input-field__exp {
    width: 60px;
}

.ui-card-input-field__card-no {
    flex: 1
}

.ui-card-input-field__left-icon {
    margin-right: 8px
}

